 .u-section-1 {
  background-image: url("images/56.jpg");
  background-position: 50% 50%;
  min-height: 658px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 658px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  margin: 160px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 658px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/63.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    min-height: 544px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 505px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 423px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 340px;
  }
}